{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "jest": true,
    "node": true
  },
  "rules": {
    "import/prefer-default-export": 0,
    "react/jsx-filename-extension": 0
  }
}
