{
  "extends": "stylelint-config-primer",
  "plugins": [
    "stylelint-order"
  ],
  "rules": {
    "selector-max-type": [2, { ignore: "descendant" }],
    "scss/selector-no-redundant-nesting-selector": null,
    "order/properties-order": [["composes"], { unspecified: "bottom" }],
    "order/order": [
      {
        type: 'at-rule',
        hasBlock: false
      },
      "custom-properties",
      "declarations",
      "rules",
      {
        type: 'at-rule',
        hasBlock: true
      }
    ]
  }
}
