:root {
  --header-height: 5rem;
  --logo-font-size: 2.5rem;
}

.header {
  min-height: var(--header-height);
  background-color: #fff;
  display: flex;
  align-items: center;
  padding-left: 1rem;
}

.logo {
  font-size: var(--logo-font-size);
  margin: 0;
  padding: 0;
}
